<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>mtv unplugged</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/kerry.png">
</head>

<body>
    <h1>&#119070 getting jiggy with it &#x266a</h1>

    <div class="form-group">
        <label for="jig">jig:</label>
        <select id="jig" name="jig">
            <option value="" selected disabled>select jig</option>
            {% for option in jigs %}
            <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
    </div>

    <form>
        <div class="form-group" id="inputfields">
           
            <br>
            <br>
            <div class="lab-inp">
                <label for="duration">duration [us]:</label>
                <input type="number" id="duration" name="duration" onkeyup="saveValue(this)" ;>

            </div>
            
            <br>
            <br>
            <div class="lab-inp">
                <label for="delay">delay [us]:</label>
                <input type="number" id="delay" name="delay" onkeyup="saveValue(this)" ;>
            </div>
           

            <br>
            <br> 

            <div class="lab-inp">
                <label for="avg_num">avg num [ ]:</label>
                <input type="number" id="avg_num" name="avg_num" onkeyup="saveValue(this)" ;>
            </div>
            

            <br>
            <br>

            <div class="lab-inp">
                <label for="voltage_range">voltage range [v]:</label>
                <input type="number" id="voltage_range" name="voltage_range" onkeyup="saveValue(this)" ;>
            </div>
            
            
            <br>
            <br>
            <div class="lab-inp">
                <label for="interval">interval [s]:</label>
                <input type="number" id="interval" name="interval" onkeyup=" saveValue(this)" ;>
            </div>
            

            <br>
            <br>
            
            <div class="lab-inp">
                <label for="exp_duration">exp duration [h]:</label>
                <input type="number" id="exp_duration_h" name="exp_duration" onkeyup="saveValue(this)" ;>

            </div>
            
            <br>
            <br>

            <div class="lab-inp">
                <label for="exp_id">experiment identifier:</label>
                <input type="text" id="exp_id" name="exp_id" ;>
            </div>
           
        </div>

        <br>
        <br>
        <div class="button-container">
            <button type="button" id="pulse">send a single pulse</button>
            <button type="button" id="start">start experiment</button>
            <button type="button" id="kill">kill experiment</button>
            <button type="button" id="go_status"> Status Page</button>
        </div>
        

    </div>

    </form>

    <br>
    <br>
    <div id="banner"></div>
    <div id="status"></div>
    <div id="message"></div>
    <div>
        <canvas id="figure"></canvas>
    </div> 

    <script src="/static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>

</html>