<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>MTV Unplugged - Status</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/kerry.png">
</head>

<body>
    <h1>&#119070 I go psycho when my new sandwitch hit &#x266a</h1>

    <div>
        <table id="dataTable">
            <thead>
                <tr>
                    <th>Jig</th>
                    <th>Status</th>
                    <!-- <th>Last Updated</th> -->
                </tr>
            </thead>
            <tbody>
                <!-- Data from the server will be inserted here -->
            </tbody>
        </table>
        
    </div>

    
    <script src="/static/script-status.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>

</html>